@import url('https://fonts.googleapis.com/css?family=Roboto:300i,400,400i,500,500i,700');

body {
    font-family: Roboto;
    margin: 0px;
    padding: 0px;
    background-color: #081C24;
}

a {
    text-decoration: none;
}

p,h1,h2,h3,h4,h5 {
    margin: 0px;
}

button:hover,
button:active,
button:focus {
    outline: none;
}

.main-container {
    padding: 0px 110px;
}

.nav {
    list-style-type: none;
    padding: 0px 100px;
    margin-top: 30px;
    display: flex;
}

.nav li a {
    display: block;
    padding: 20px 0px 15px 0px;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0px 10px;
    color: #fbfbfb;
    border-bottom: 3px solid rgba(0, 0, 0, 0);
    transition: all 180ms linear;
}

.nav li .active {
    color: #00D474;
    font-weight: 700;
    border-bottom: 3px solid #00D474;   
}

.nav li a.nav-link:hover {
    color: #00D474;
    font-weight: 700;
    border-bottom: 3px solid #00D474;    
}

.nav li a.brand {
    font-size: 30px;
    padding: 15px 0px;
    margin-right: 30px;
}

.page-title {
    color: #FBFBFB;
    text-align: center;
    text-transform: uppercase;
    margin: 0px 0px 20px 0px;
}

.sort-options {
    width: 100%;
    text-align: center;
}

.sort-movies {
    background-color: transparent;
    border: none;
    color: #00D474;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    padding: 10px 15px;
    cursor: pointer;
    border: 2px solid #00D474;
}

.sort-movies:active {
    outline: none;
}

.movie-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 30px;
  padding: 0px 100px;
}

.movie-con {
    margin-bottom: 30px;
    position: relative;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.movie-info {
    opacity: 0;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    width: 100%;
    height: 100%;
    transition: opacity 150ms linear; 
    display: flex;
    flex-direction: column;
}

.movie-info:hover {
    opacity: 1;
}

.movie-con img {
    width: 100%;
    height: 100%;
}

.movie-title, 
.movie-info > .movie-genre {
    color: #fbfbfb;
    display: block;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);    
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    text-overflow: ellipsis;
}

.movie-title {
    padding: 15px 15px 5px 15px;
    font-size: 18px;
    font-weight: 500;
}

.movie-genre {
    padding: 0px 15px 15px 15px;
    font-size: 14px;
}

.rating-date {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.rating-date > p, .rating-date .release-year {
    width: 50%;
    text-align: center;
    color: white;
}

.rating-date .rating {
    font-size: 60px;
    font-weight: 700;
    padding: 12px;
}

.release-year {
    padding: 20px 15px 20px 0px;
}

.rating-date .release-year p:first-child {
    font-size: 22px;
    font-weight: 700;
}

.rating-date .release-year p:last-child {
    font-size: 21px;
    font-weight: 300;
}

.pagination {
    color: #00D474;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 115px;
    margin-bottom: 30px;
}

.pagination > p {
    font-size: 18px;
    color: #fbfbfb;
    text-transform: uppercase;
    font-weight: 500;
}

.arrows-con button {
    font-size: 30px;
    font-weight: 700;
    color: #fbfbfb;
    border: none;
    width: 40px;
    height: 40px;
    background-color: transparent;
    cursor: pointer;
    border: 0px solid rgba(0, 0, 0, 0);    
    transition: all 130ms linear;
    position:relative;
}

.arrows-con button svg {
    position: absolute;
    left: 4px;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
}

.arrows-con button:active,
.arrows-con button:focus {
    outline: none;
}

.arrows-con button:active {
    color: #00D474;
    border: 2px solid #00D474;
}

.not-found {
    color: #00D474;
    text-align: center;
}

.not-found h1 {
    font-size: 200px;
    margin: 0px;
    padding: 50px;
}

.cover-info-con {
    width: 100%;
    margin-top: 25px;
    position: relative;
    overflow: hidden;
}

.cover-info-con .back-drop,
.cover-info-con .back-tint {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
}

.cover-info-con .back-drop {
    filter: brightness(120%) blur(3px);
    background-size: cover;
    transform: scale(1.3);
}

.cover-info-con .back-tint {
    background-color: rgba(0, 0, 0, 0.8);
}

.movie-cover-con {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 45px 110px;
    position: relative;
}

.movie-cover-con > div:nth-child(2) {
    flex: 0 1 auto;
}

.movie-poster {
    height: 450px;
    border-radius: 3px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.movie-details-con {
    margin-left: 50px;
    color: #fbfbfb;
}

.movie-details-con .title {
    font-size: 34px;
    text-transform: uppercase;
    margin: 0px 0px 10px 0px;
}

.release-genre {
    display: flex;
    align-items: center;
}

.release-genre > p {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}

.release-genre > p:first-child {
    padding: 5px 10px;
    margin-right: 10px;
    border: 1px solid #00D474;
    color: #00D474;
}

.release-genre > p:nth-child(3) {
    padding: 0px 15px;
    margin: 0px 15px;
    border-width: 0px 1px;
    border-color: #fbfbfb;
    border-style: solid;
}

.overview h3 {
    margin: 30px 0px 10px 0px;
    text-transform: uppercase;
}

.stats, .featured-crew > ul {
    padding: 0px;
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.stats {
    margin: 35px 0px;
}

.stats .c100.small {
    font-size: 65px;
}

.rating-percentage {
    border-radius: 50%;
    background-color: #081C24;
    border: 5px solid #081C24;
}

.stats > li:first-child {
    margin-right: 5px;
    padding-right: 5px;
}

.stats > li:first-child .fav {
    background-color: transparent;
    border: 5px solid #00D474;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 30px;
    color: #00D474;
    line-height: 0px;
    transition: all 50ms linear;
}

.stats > li:first-child .fav:active {
    background-color: #081C24;
    border: 5px solid #081C24;
    color: gold;
    box-shadow: inset 0px 0px 0px 5px gold;
    width: 75px;
    height: 75px;
}

.stats > li:first-child .fav.favorite {
    background-color: #081C24;
    border: 5px solid #081C24;
    color: gold;
    box-shadow: inset 0px 0px 0px 5px gold;
    width: 75px;
    height: 75px;
    transition: all 50ms linear;
}

.stats > li:first-child .fav.favorite:active {
    border: 5px solid #00D474;
    color: #00D474;
    box-shadow: none;
    background-color: transparent;
}

.stats > li:not(:first-child) {
    text-align: center;
    padding: 0px 5px;
    margin: 0px 5px;
}

.stats > li:not(:first-child) > h4 {
    margin-top: 0px;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
}

.stats > li:not(:first-child) > p {
    margin: 0px;
    font-size: 20px;
}

.featured-crew > h3 {
    margin: 10px 0px;
    text-transform: uppercase;
}

.featured-crew > ul > li {
    margin-right: 15px;
    padding-right: 15px;
    margin-bottom: 20px;
}

.featured-crew > ul > li > h5{
    font-size: 16px;
    margin: 0px;
    text-transform: uppercase;
}

.other-info {
    padding: 0px 110px;
    margin: 30px 0px;
    display: flex;
    flex-direction: row;
}

.trailer-reviews {
    width: 100%;
}

.top-cast > h3 {
    text-transform: uppercase;
    color: #fbfbfb;
    margin-bottom: 20px;
}

.top-cast ul {
    display: flex;
    list-style: none;
    padding: 0px;
    margin: 0px;
    justify-content: space-between;
}

.top-cast ul > li {
    display: block;
    background-color: white;
    width: 170px;
    border-radius: 2px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.top-cast ul > li:not(:first-child):not(:last-child) {
    margin: 0px 15px
}

.top-cast ul > li:first-child {
    margin-right: 15px;
}

.top-cast ul > li:last-child {
    margin-left: 15px;
}

.top-cast ul > li .profile-pic {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 170px;
    background-size: cover;
}

.top-cast li h3 {
    padding: 10px 15px 0px 15px;
    font-size: 16px;
}

.top-cast li p {
    padding: 5px 15px 15px 15px;
    font-size: 14px;
}

.main-trailer-con {
    padding: 0px 0px 15px 0px;
    margin: 0px 0px 15px 0px;
}

.trailer-con {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%
}

.trailer-con .trailer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.review-con {
    margin: 30px 0px;
}

.review-con > h3 {
    text-transform: uppercase;
    color: #fbfbfb;
    margin-bottom: 20px;
}

.review {
    background-color: #fbfbfb;
    border-radius: 2px;
}

.review {
    margin-bottom: 30px;
}

.review > h3 {
    font-size: 24px;
    font-weight: 400;
    padding: 24px 16px 0px 16px;
}

.review > p {
    font-size: 14px;
    padding: 16px;
    line-height: 1.75em;
}

.loader {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0px;
    right: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sk-cube-grid {
  width: 50px;
  height: 50px;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #00D474;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}



